head
  //-
   *
    ____                         ____    __                         __
   /\  _`\                      /\  _`\ /\ \__                     /\ \__
   \ \ \/\ \     __      ___    \ \,\L\_\ \ ,_\  _ __   ___     ___\ \ ,_\
    \ \ \ \ \  /'__`\  /' _ `\   \/_\__ \\ \ \/ /\`'__\/ __`\  / __`\ \ \/
     \ \ \_\ \/\ \L\.\_/\ \/\ \    /\ \L\ \ \ \_\ \ \//\ \L\ \/\ \L\ \ \ \_
      \ \____/\ \__/.\_\ \_\ \_\   \ `\____\ \__\\ \_\\ \____/\ \____/\ \__\
       \/___/  \/__/\/_/\/_/\/_/    \/_____/\/__/ \/_/ \/___/  \/___/  \/__/

        @danstroot danstroot.com

  //- Behavioral Meta Data
  meta(charset='utf-8')
  meta(name='x-csrf-token', content=_csrf)
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='apple-mobile-web-app-capable', content='yes')
  //- http://updates.html5rocks.com/2013/12/300ms-tap-delay-gone-away
  meta(name='viewport', content='width=device-width, initial-scale=1.0, minimal-ui')

  //- SEO Meta Data
  block head
  meta(name='author', content='#{author}')
  meta(name='description', content='#{description}')
  meta(name='keywords', content='#{keywords}')

  //- Facebook Open Graph Meta Data
  //- meta(property='og:description', content='#{description}')
  //- meta(property='og:image', content='')
  //- meta(property='og:site_name', content='')
  //- meta(property='og:title', content='#{application}')
  //- meta(property='og:type', content='website')
  //- meta(property='og:url', content='')

  //- Twitter Meta Data
  //- meta(name='twitter:description', content='#{description}')
  //- meta(name='twitter:image', content='')
  //- meta(name='twitter:site', content='')
  //- meta(name='twitter:title', content='#{application}')
  //- meta(name='twitter:creator', content='')
  //- meta(name='twitter:card', content='summary_large_image')

  //- Humans
  link(rel='author', href='humans.txt')

  //-
  //-link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
  //- Styles
  link(rel='stylesheet', href='/css/main.min.css')

  //- Custom style
  link(rel='stylesheet', href='/css/custom.min.css')
  block styles

  //- Fonts
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,500,700')

  //- favicon.ico and apple-touch-icon(s)

  //- Place favicon.ico and apple-touch-icon(s) in the root directory (public/)
  //- In app.js make sure app.use(express.favicon(__dirname + '/public/favicon.ico')); is correct.

  //- Here are the names and sizes needed:  (http://mathiasbynens.be/notes/touch-icons)
  //-   - apple-touch-icon-152x152-precomposed.png
  //-   - apple-touch-icon-120x120-precomposed.png
  //-   - apple-touch-icon-76x76-precomposed.png
  //-   - apple-touch-icon-60x60-precomposed.png

  //- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  <!--[if lt IE 9]>
  |   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  |   <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  | <![endif]-->

  //- Google Analytics
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '#{ga}', 'jit.su');
    ga('send', 'pageview');
