nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
        //- if you want you may use the font awesome icon instead
        //- i.fa.fa-lg.fa-bars
      a.navbar-brand(href='/') #{application}
    .collapse.navbar-collapse

      ul.nav.navbar-nav
        li.dropdown(class=url=='/learn'?'active':undefined)
          a(href='/learn') Learning
        li.dropdown(class=url=='/career'?'active':undefined)
          a(href='/career') Career
        - var s = url=='/resources/external' || url=='/resources/jobsearch' || url=='/resources/org'
        li.dropdown(class=s?'active':undefined)
          a.dropdown-toggle(href='#',data-toggle='dropdown')
            i.fa.fa-fw.fa-laptop
            | &nbsp; Resources &nbsp;
            b.caret
            ul.dropdown-menu
              li
                a(href='/resources/jobsearch') Job Search
              li
                a(href='/resources/external') External Links
              li
                a(href='/resources/org') Organizations
        li
          a(href='/support') Support
      if user
        ul.nav.navbar-nav
          //- li.dropdown(class=url=='/apiopen'?'active':undefined)
          //-   a.dropdown-toggle(href='#', data-toggle='dropdown')
          //-     i.fa.fa-fw.fa-laptop
          //-     | &nbsp;APIs (open)&nbsp;
          //-     b.caret
          //-   ul.dropdown-menu
          //-     li
          //-       a(href='/api/lastfm')
          //-         i.fa.fa-fw.fa-laptop
          //-         | &nbsp;Last.fm
          //-     li
          //-       a(href='/api/nyt')
          //-         i.fa.fa-fw.fa-laptop
          //-         | &nbsp;New York Times
          //-     li
          //-       a(href='/api/twilio')
          //-         i.fa.fa-fw.fa-laptop
          //-         | &nbsp;Twilio
          //-     li
          //-       a(href='/api/scraping')
          //-         i.fa.fa-fw.fa-laptop
          //-         | &nbsp;Hacker News
          //-     li
          //-       a(href='/api/socrata')
          //-         i.fa.fa-fw.fa-laptop
          //-         | &nbsp;Open Data
          //-     li
          //-       a(href='/api/creditcard')
          //-         i.fa.fa-fw.fa-laptop
          //-         | &nbsp;Credit Card Form
          //-     li
          //-       a(href='/api/react')
          //-         i.fa.fa-fw.fa-laptop
          //-         | &nbsp;React Markdown Editor
          //- li.dropdown(class=url=='/apilocked'?'active':undefined)
          //-   a.dropdown-toggle(href='#', data-toggle='dropdown')
          //-     i.fa.fa-fw.fa-lock
          //-     | &nbsp;APIs (auth req'd) &nbsp;
          //-     b.caret
          //-   ul.dropdown-menu
          //-     li
          //-       a(href='/api/facebook')
          //-         i.fa.fa-fw.fa-lock
          //-         | &nbsp;Facebook
          //-     li
          //-       a(href='/api/foursquare')
          //-         i.fa.fa-fw.fa-lock
          //-         | &nbsp;Foursquare
          //-     li
          //-       a(href='/api/github')
          //-         i.fa.fa-fw.fa-lock
          //-         | &nbsp;GitHub
          //-     li
          //-       a(href='/api/paypal')
          //-         i.fa.fa-fw.fa-lock
          //-         | &nbsp;PayPal
          //-     li
          //-       a(href='/api/stripe')
          //-         i.fa.fa-fw.fa-lock
          //-         | &nbsp;Stripe
          //-     li
          //-       a(href='/api/tumblr')
          //-         i.fa.fa-fw.fa-lock
          //-         | &nbsp;Tumblr
          //-     li
          //-       a(href='/api/twitter')
          //-         i.fa.fa-fw.fa-lock
          //-         | &nbsp;Twitter

        //- Right side
        ul.nav.navbar-nav.navbar-right

          //- Visible to Admin users only!
          if user.type == 'admin'
            li.dropdown(class=url=='/administration'?'active':undefined)
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fa.fa-fw.fa-cogs
                | &nbsp;Admin&nbsp;
                b.caret
              ul.dropdown-menu
                li
                  a(href='/dashboard')
                    i.fa.fa-fw.fa-laptop
                    | &nbsp;Dashboard
                li
                  a(href='/accounts')
                    i.fa.fa-fw.fa-users
                    | &nbsp;Accounts

          //- User account
          li.dropdown(class=url=='/account'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              //-if user.profile.picture
              //-img.profile-image(src='#{user.profile.picture}')
              //-else
              //-img.profile-image(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              b.caret
            ul.dropdown-menu
              li
                a(href='/account')
                  i.fa.fa-fw.fa-user
                  | &nbsp;My Account
              li
                a(href='/contact')
                  i.fa.fa-fw.fa-envelope-o
                  | &nbsp;Contact Us
              li.divider
              li
                a(href='/logout')
                  i.fa.fa-fw.fa-sign-out
                  | &nbsp;Logout

      else
        //- No user/not logged in
        ul.nav.navbar-nav.navbar-right
          li(class=url=='/login'?'active':undefined)
            a(href='/login')
              i.fa.fa-sign-in.fa-fw
              | &nbsp;Sign In
