.tracklist { font-size: 13pt; }
.vspace {
  display: block;
  height: 30px;
}

.anchor {
  display: block;
  position: relative;
  top: -35px;
  visibility: hidden;
}

.faq:hover {
  text-decoration: none;
}

.fade {
opacity: 0;
-webkit-transition: opacity 2.25s linear;
  -moz-transition: opacity 2.25s linear;
   -ms-transition: opacity 2.25s linear;
  -o-transition: opacity 2.25s linear;
     transition: opacity 2.25s linear;
}
.circle {
  height: 300px;
  width: 300px;
  background: #bbbbbb;
  text-align: center;
  padding-top: 10px;
  border-width: 2pt;
  -webkit-border-width: 1px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  border-radius: 300px;
}
