extends ../layouts/layout

block head
  title #{application} &middot; Resources

mixin golink(name, link, desc)
  h4= name
  p= desc
  a.btn.btn-success(role='button',href=link) Visit site

block content
  .jumbotron.white
    .container
      h1 External Links and Resources
  .container
    p.vspace

    h2 Links and Resources

