extends ../layouts/layout

block head
  title #{application} &middot; Resources

mixin golink(name, link, desc)
  h4 #[span.fa.fa-bookmark] #{name}
  p= desc
  a.btn.btn-success.btn-xs(role='button',href=link) Visit site

block content
  .jumbotron.white
    .container
      h1 Job Search Resources
  .container
    p.vspace

    h2 General Search
    .row
      .col-md-4
        +golink('America\'s Job Exchange', 'http://www.americasjobexchange.com')
      .col-md-4
        +golink('Careerbuilder.com', 'http://www.careerbuilder.com')
      .col-md-4
        +golink('Employment Guide', 'http://www.employmentguide.org')
    .row
      .col-md-4
        +golink('Flipdog', 'http://www.flipdog.com')
      .col-md-4
        +golink('Indeed', 'http://www.indeed.com')
      .col-md-4
        +golink('JOBcentral','http://www.jobcentral.com')
    .row
      .col-md-4
        +golink('Jobs.com', 'http://www.jobs.com')
      .col-md-4
        +golink('Monster.com', 'http://www.monster.com')

    h2 Non-Profit Organizations
    .row
      .col-md-4
        +golink('Idealist', 'http://www.idealist.org')
      .col-md-4
        +golink('The Rome Group', 'http://www.theromegroup.com')

    h2 Veteran Search
    .row
      .col-md-4
        +golink('Key to Career Success', 'http://www.careeronestop.org/MilitaryTransition')
      .col-md-4
        +golink('Show Your Stripes', 'http://www.showyourstripes.org/veterans')
      .col-md-4
        +golink('Department of Veterans Affairs (VA)', 'http://www.va.gov/jobs')
      .col-md-4
        +golink('State of Missouri',
          'https://stlouis-mo.gov/government/departments/slate/documents/Hot-jobs-listing-for-Veterans.cfm',
          'Click \'Veterans Hot Job Listing\' to open PDF.')
