extends ../layouts/layout

block head
  title #{application} &middot; Resources

block content
  .jumbotron.white
    .container
      h1 Local Organizations
  .container

    ul.nav.nav-pills.nav-stacked.col-md-2
      .vspace
      li.active
        a(href='#stpat',data-toggle='pill') St. Patrick Center
      li
        a(href='#slate',data-toggle='pill') SLATE

    .tab-content.col-md-10
      .tab-pane.active.in#stpat
        h2 Saint Patrick Center
        p.
          St. Patrick Center is one of Missouri's largest providers
          of housing, employment and health opportunities for people who are homeless
          or at risk becoming homeless.
        p: a.btn.btn-default.btn-xs(href="http://www.stpatrickcenter.org/") Visit Website
      .tab-pane#slate
        h2 St. Louis Agency on Training and Employment (SLATE)
        p: a.btn.btn-default.btn-xs(href="https://www.stlouis-mo.gov/government/departments/slate/") Visit Website

