extends ../layouts/layout

mixin displayButton(link)
  if user
    .col-md-offset-4.col-md-4
      a.btn.btn-success.center-block(href=link,role='button') Start
  else
    .col-md-offset-4.col-md-4
      a.btn.btn-primary.center-block(href='/login',role='button') Sign In

block head
  title #{application} &middot; Learning

block content
  .jumbotron.white
    .container
      h1 Develop Valuable Skills

  .container
    .row
      .col-md-4
        h2.text-center.center-block Track 1
        h3.text-center.center-block Professional Development
        p
        ul.tracklist
          li Being an Effective Team Player
            ul
              li Listening
              li Teamwork and Collaboration
              li Sharing and Receiving Feedback
              li Managing Conflict
          li Communicating for Result
            ul
              li Writing with Clarity
              li Using Proper Grammar
              li E-mail
              li Verbal Communication
          li Developing Your Professional Reputation
            ul
              li Integrity
              li Positive Attitude
              li Taking Initiative
          li Managing Your Day Work
            ul
              li Time Management
              li Introduction to Problem Solving

        +displayButton('/learn/track1')

      .col-md-4
        h2.text-center.center-block Track 2
        h3.text-center.center-block Technology
        p
        .col-md-offset-2
          ul.tracklist
            li Basic Computer Skill
            li Microsoft Word
            li Internet and Social Media

        +displayButton('/learn/track2')

      .col-md-4
        h2.text-center.center-block Track 3
        h3.text-center.center-block Career / Job Readiness
        ul.tracklist
          li Resume and Cover Letters
          li How to Conduct a Job Search
          li Preparing for Job Interview

        +displayButton('/learn/track3')

  .vspace
