extends ../layouts/layout

block head
  title #{application} &middot; Technology

block content
  .jumbotron.white
    .container
      h1 Understanding Technology

  .container
    p
    ul.breadcrumb
      li
        a(href='/learn') Learn
      li.active Track 2

    .row
      .col-md-4
        .circle.center-block(style='background:#F5A9D0')
          h2 Basic <br/> Computer Skills
          p.
            This instructor-led course introduces participant
            to basic computer terminology and basic computer
            operations, such as file system navigation.
      .col-md-4
        .circle.center-block(style='background:#00FFBF')
          h2 Microsoft <br/> Word
          p.
            This instructor-led course covers
            the essentials of using Microsoft Word.
      .col-md-4
        .circle.center-block(style='background:#F2F5A9')
          h2 Internet
          p.
            This instructor-led course <br/> covers
            the basic of internet, and <br/> usage of social media
            tools <br/> such as Facebook and Twitter.

    a.anchor#basic
    h2 Basic Computer Skills

    a.anchor#msword
    h2 Microsoft Word

    p Please download the following presentation: #[a(href="") #[span.fa.fa-file-powerpoint-o] Link]

    a.anchor#socmedia
    h2 Internet and Social Media
