extends ../layouts/layout

block head
  title #{application} &middot; Learning

block content
  .jumbotron.white
    .container
      h1 Job Readiness

  .container
    p
    ul.breadcrumb
      li
        a(href='/learn') Learn
      li.active Track 3
    h3 Instruction
    p.
      [Plase holder]
