extends ../layouts/layout

mixin link(id, desc)
  li
    a(target='_new',id='#{id}',href='https://ccusa-lms.cclearning.accenture.com/course/view.php?id=#{id}')= desc

block head
  title #{application} &middot; Learning

block content
  .jumbotron.white
    .container
      h1 Professional Development

  .container
    p
    ul.breadcrumb
      li
        a(href='/learn') Learn
      li.active Track 1

    h3 Instruction
    p.
      This session will be primarily computer-based lessons.  Please use the links provided below
      to access the lessons.
    p
    ul.tracklist
      li Being an Effective Team Player
        ul
          +link(73, 'Listening')
          +link(74, 'Teamwork and Collaboration')
          +link(75, 'Sharing and Receiving Feedback')
          +link(90, 'Managing Conflict')
      li Communicating for Result
        ul
          +link(98, 'Writing with Clarity')
          +link(99, 'Using Proper Grammar')
          +link(100, 'E-mail')
          +link(117, 'Verbal Communication')
      li Developing Your Professional Reputation
        ul
          +link(120, 'Integrity')
          +link(80, 'Positive Attitude')
          +link(77, 'Taking Initiative')
      li Managing Your Day Work
        ul
          +link(81, 'Time Management')
          +link(82, 'Introduction to Problem Solving')

