extends ../layouts/layout

block head
  title #{application} &middot; Home

block styles
  link(rel='stylesheet', href='/lib/devicons/css/devicons.min.css')
  //- link(rel='stylesheet', href='//cdn.jsdelivr.net/devicons/1.5.0/css/devicons.min.css')
  link(rel='stylesheet', href='/css/page-api.min.css')

block content

  .mini-tron
    .container
      h1 Hello #{user.profile.name}!
      p Welcome to #{application}!

  .container
    .row
      //- .col-sm-10.col-sm-offset-1
      .col-sm-12

        h3 Why did I have to login to see this?
        p
          | Because authentication is a primary aspect of this application. It has all the appropriate email traffic (welcome, account change, password reset, etc.), administrative features, user account management, etc. It even has two-factor authentication that you can turn on in your profile!
        P
          | If you didn't log in you would never see or experience this. Bummer right?
        p
          | (NOTE: You can delete your account on the profile page.)
