extends ../layouts/layout

block head
  title #{application} &middot; Welcome!

block styles
  link(rel='stylesheet', href='/lib/animate.css/animate.css')

block content
  .jumbotron.white
    .container
      h1 Saint Louis Veterans Career Site
      .row
        .col-md-7.col-md-push-5
          img.center-block.img-responsive.animated.bounceInLeft(alt='Skeleton App', src='img/Octocat.png', width='400px')
        .col-md-4.col-md-offset-1.col-md-pull-7
          ul.fa-ul.visible-md.visible-lg
            li
              i.fa.fa-li.fa-laptop
              | Skill Development
            li
              i.fa.fa-li.fa-search-plus
              | Job Search
            li
              i.fa.fa-li.fa-cogs
              | Resume Workshop
            li
              i.fa.fa-li.fa-users
              | Career Counseling

          br
          a.btn.btn-white(href='/login', role='button') Sign in Now!
      //- .row.hidden-xs
      //-   .col-md-12
      //-     h2 What is #{application}?
      .row.hidden-xs
        .col-md-4
          h3
            i.fa.fa-group.fa-lg.green
            | &nbsp;&nbsp;Build for you
          p
            | #{application} Is built with standard components such as Bootstrap and FontAwesome and is easy to customize.
        .col-md-4
          h3
            i.fa.fa-bolt.fa-lg.yellow
            | &nbsp;&nbsp;Lightning fast
          p
            | [Place holder]
        .col-md-4
          h3
            i.fa.fa-tablet.fa-lg.fuchsia
            | &nbsp;&nbsp;Follow Us
          p
            |  [Place holder]
      //- .row
      //-   .col-md-4.col-md-offset-4
      //-     //- http://github.hubspot.com/odometer/
      //-     .github-count
      //-       span.odometer-label
      //-         a.white(href='http://github.com/dstroot/skeleton', rel='external')
      //-           i.fa.fa-github
      //-           | &nbsp;GitHub ★ :
      //-       .odometer.bg-purple 0


