extends ../layouts/layout

block head
  title #{application} &middot; Career

block content
  .jumbotron.white
    .container
      h1 Explore Career Opportunities

  .container
    h2 So, you'd like a career in ...
    p Pursuing any career takes preparation and planning.  Click on one of the following links to Explore the skills and training necessary to pursue that career.

    .row.hidden-xs
      .col-md-4
        h3
          a(href="/career/bargeop") Barge Operations
      .col-md-4
        h3
          a(href="/career/nursing") Lawncare
      .col-md-4
        h3
          a(href="/career/construction") Nursing
    .row.hidden-xs
      .col-md-4
        h3
          a(href="/career/socialservice") Social Services
      .col-md-4
        h3
          a(href="/career/welding") Welding
      .col-md-4
        h3
          a(href="/career/warehousing") Warehousing


