extends ../layouts/layout

block head
  title #{application} &middot; Welding

block content
  .container.bs-docs-container
    .row
      .col-md-9(role='main')
        a.anchor#barge
        .bs-docs-section
          h1 Barge Operations
          p Learn more about this career from the Bureau of Labor Statistics.
          h4 Training Programs in your geographical area:
          ul
            li [Place holder]

          h4 Potential Employers:
          ul
            li None currently listed.

        a.anchor#nursing
        .bs-docs-section
          h1 Nursing
          p Learn more about this career from the Bureau of Labor Statistics.
          h4 Training Programs in your geographical area:
          ul
            li [Place holder]

          h4 Potential Employers:
          ul
            li None currently listed.

        a.anchor#lawncare
        .bs-docs-section
          h1 Lawncare
          p Learn more about this career from the Bureau of Labor Statistics.
          h4 Training Programs in your geographical area:
          ul
            li [Place holder]

          h4 Potential Employers:
          ul
            li None currently listed.

        a.anchor#socservice
        .bs-docs-section
          h1 Social Services
          p Learn more about this career from the Bureau of Labor Statistics.
          h4 Training Programs in your geographical area:
          ul
            li [Place holder]

          h4 Potential Employers:
          ul
            li None currently listed.

        a.anchor#welding
        .bs-docs-section
          h1 Welding
          p Learn more about this career from the #[a(href='http://www.bls.gov/ooh/production/welders-cutters-solderers-and-brazers.htm',target='_blank') Bureau of Labor Statistics].
          h4 Training Programs in your geographical area:
          ul
            li
              a(href="") Lewis &amp; Clark Community College
            li
              a(href="") Lewis &amp; Clark Community College
            li
              a(href="") Lewis &amp; Clark Community College
            li
              a(href="") Lewis &amp; Clark Community College

          h4 Potential Employers:
          ul
            li None currently listed.

        a.anchor#warehousing
        .bs-docs-section
          h1 Warehousing
          p Learn more about this career from the Bureau of Labor Statistics.
          h4 Training Programs in your geographical area:
          ul
            li [Place holder]

          h4 Potential Employers:
          ul
            li None currently listed.

      .col-md-3
        .bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm.affix(role='complementary')
          ul.nav.bs-doc-sidenav
            li
              a(href='#barge') Barge Operations
            li
              a(href='#nursing') Nursing
            li
              a(href='#lawncare') Lawncare
            li
              a(href='#socservice') Social Services
            li
              a(href='#welding') Welding
            li
              a(href='#warehouse') Warehousing






