extends ../layouts/layout

block head
  title #{application} &middot; Support

block content
  .jumbotron.white
    .container
      h1 Site Support and Help

  .container
    h2 Frequently Asked Questions

    .panel-group#accordion
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.btn-block.faq(data-toggle='collapse' data-parent='#accordion' href='#collapse1') What if the career path I want is not listed?
        .panel-collapse.collapse#collapse1
          .panel-body
            p Mememememem

      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.btn-block.faq(data-toggle='collapse' data-parent='#accordion' href='#collapse2') What are the requirements for [ xxxx ]?
        .panel-collapse.collapse#collapse2
          .panel-body
            p Mememememem

